##### Just combining the final dataset

In [11]:
import pandas as pd

a = pd.read_csv("../CT-2022/2022_merged_data.csv")
b = pd.read_csv("../CT-2023/2023_merged_data.csv")
c = pd.read_csv("../CT-2021/2021_merged_data.csv")

df = pd.concat([a, b, c], ignore_index=True)

In [12]:
test = df.isna().sum()
for col, count in test.items():
    if count != 0:
        print(col, count)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52862 entries, 0 to 52861
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   year                            52862 non-null  int64
 1   agency_location                 52862 non-null  int64
 2   incident_date                   52862 non-null  object
 3   incident_hour                   52862 non-null  int64
 4   agency_name                     52862 non-null  object
 5   state                           52862 non-null  object
 6   population                      52862 non-null  int64
 7   male_officer                    52862 non-null  float64
 8   male_civilian                   52862 non-null  float64
 9   male_officer+male_civilian      52862 non-null  float64
 10  female_officer                  52862 non-null  float64
 11  female_civilian                 52862 non-null  float64
 12  female_officer+female_civilian  52862 non-null  float64
 13  offense_name                    52862 non-null  object
 14  offense_category_name           52862 non-null  object
 15  criminal_act_name               52862 non-null  object
 16  location_area                   52862 non-null  object
dtypes: float64(6), int64(4), object(7)
memory usage: 6.9+ MB

In [14]:
df = df.drop(columns=[
    'agency_location', 'state', 'male_officer', 'male_civilian',
    'male_officer+male_civilian', 'female_officer', 'female_civilian',
    'female_officer+female_civilian', 'offense_name'
])
df = df[(df['population'] != 0) & (~df['population'].isna())]

df.rename(columns={'agency_name': 'city'}, inplace=True)
df.rename(columns={'incident_date': 'date'}, inplace=True)
df.rename(columns={'incident_hour': 'hour'}, inplace=True)
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [15]:
df.to_csv("combined_data.csv", index=False)