##### Just combining the final dataset

In [71]:
import pandas as pd

a = pd.read_csv("../CT-2022/2022_merged_data.csv")
b = pd.read_csv("../CT-2023/2023_merged_data.csv")
c = pd.read_csv("../CT-2021/2021_merged_data.csv")

df = pd.concat([a, b, c], ignore_index=True)

In [72]:
test = df.isna().sum()
for col, count in test.items():
    if count != 0:
        print(col, count)

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384241 entries, 0 to 384240
Data columns (total 15 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   year                            384241 non-null  int64
 1   agency_id                       384241 non-null  float64
 2   incident_date                   384241 non-null  object
 3   incident_hour                   384241 non-null  int64
 4   agency_name                     384241 non-null  object
 5   population                      384241 non-null  int64
 6   male_officer                    384241 non-null  float64
 7   male_civilian                   384241 non-null  float64
 8   male_officer+male_civilian      384241 non-null  float64
 9   female_officer                  384241 non-null  float64
 10  female_civilian                 384241 non-null  float64
 11  female_officer+female_civilian  384241 non-null  float64
 12  offense_name                    384241 non-null  object
 13  offense_category_name           384241 non-null  object
 14  location_area                   384241 non-null  object
dtypes: float64(7), int64(3), object(5)
memory usage: 44.0+ MB

In [74]:
df = df.drop(columns=[
    'male_officer', 'male_civilian',
    'male_officer+male_civilian', 'female_officer', 'female_civilian',
    'female_officer+female_civilian', 'agency_id'
])
df = df[(df['population'] != 0) & (~df['population'].isna())]

df.rename(columns={'agency_name': 'city'}, inplace=True)
df.rename(columns={'incident_date': 'date'}, inplace=True)
df.rename(columns={'incident_hour': 'hour'}, inplace=True)
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [75]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['dayofweek'] = df['date'].dt.dayofweek  # optional: 0 = Monday, 6 = Sunday

In [76]:
order = [
    'year', 'month', 'day', 'hour', 'date', 'dayofweek',
    'city', 'population', 'offense_name', 'offense_category_name', 'location_area'
]

df = df[order]

In [77]:
df.to_csv("combined_data.csv", index=False)

In [78]:
print(len(df))

380303

In [79]:
df

,year,month,day,hour,date,dayofweek,city,population,offense_name,offense_category_name,location_area
0,2022,9,22,13,2022-09-22,3,Berlin,20109,Drug/Narcotic Violations,Drug/Narcotic Offenses,Abandoned/Condemned Structure
1,2022,6,4,20,2022-06-04,5,Norwich,40096,Weapon Law Violations,Weapon Law Violations,Abandoned/Condemned Structure
2,2022,7,10,20,2022-07-10,6,Norwich,40096,Drug/Narcotic Violations,Drug/Narcotic Offenses,Abandoned/Condemned Structure
3,2022,7,10,20,2022-07-10,6,Norwich,40096,Drug Equipment Violations,Drug/Narcotic Offenses,Abandoned/Condemned Structure
4,2022,10,14,13,2022-10-14,4,Bridgeport,148395,Drug/Narcotic Violations,Drug/Narcotic Offenses,Abandoned/Condemned Structure
...,...,...,...,...,...,...,...,...,...,...,...
384236,2021,3,13,16,2021-03-13,5,Stratford,51683,Intimidation,Assault Offenses,Other/Unknown
384237,2021,9,5,17,2021-09-05,6,Stratford,51683,Intimidation,Assault Offenses,Other/Unknown
384238,2021,12,3,14,2021-12-03,4,Stratford,51683,All Other Larceny,Larceny/Theft Offenses,Other/Unknown
384239,2021,10,27,11,2021-10-27,2,Stratford,51683,All Other Larceny,Larceny/Theft Offenses,Other/Unknown
384240,2021,10,21,11,2021-10-21,3,Stratford,51683,Statutory Rape,"Sex Offenses, Non-forcible",Other/Unknown