##### Just combining the final dataset

In [15]:
import pandas as pd

a = pd.read_csv("../CT-2022/2022_merged_data.csv")
b = pd.read_csv("../CT-2023/2023_merged_data.csv")
c = pd.read_csv("../CT-2021/2021_merged_data.csv")

df = pd.concat([a, b, c], ignore_index=True)

In [16]:
test = df.isna().sum()
for col, count in test.items():
    if count != 0:
        print(col, count)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384241 entries, 0 to 384240
Data columns (total 15 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   year                            384241 non-null  int64
 1   agency_id                       384241 non-null  float64
 2   incident_date                   384241 non-null  object
 3   incident_hour                   384241 non-null  int64
 4   agency_name                     384241 non-null  object
 5   population                      384241 non-null  int64
 6   male_officer                    384241 non-null  float64
 7   male_civilian                   384241 non-null  float64
 8   male_officer+male_civilian      384241 non-null  float64
 9   female_officer                  384241 non-null  float64
 10  female_civilian                 384241 non-null  float64
 11  female_officer+female_civilian  384241 non-null  float64
 12  offense_name                    384241 non-null  object
 13  offense_category_name           384241 non-null  object
 14  location_area                   384241 non-null  object
dtypes: float64(7), int64(3), object(5)
memory usage: 44.0+ MB

In [18]:
df = df.drop(columns=[
    'male_officer', 'male_civilian',
    'male_officer+male_civilian', 'female_officer', 'female_civilian',
    'female_officer+female_civilian', 'offense_name', 'agency_id'
])
df = df[(df['population'] != 0) & (~df['population'].isna())]

df.rename(columns={'agency_name': 'city'}, inplace=True)
df.rename(columns={'incident_date': 'date'}, inplace=True)
df.rename(columns={'incident_hour': 'hour'}, inplace=True)
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [19]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['dayofweek'] = df['date'].dt.dayofweek  # optional: 0 = Monday, 6 = Sunday

In [ ]:
order = [
    'year', 'month', 'day', 'hour', 'date', 'dayofweek',
    'city', 'population', 'offense_category_name', 'location_area'
]

df = df[order]

In [21]:
df.to_csv("combined_data.csv", index=False)

In [22]:
print(len(df))

380303