##### Just combining the final dataset

In [28]:
import pandas as pd

a = pd.read_csv("../CT-2022/2022_merged_data.csv")
b = pd.read_csv("../CT-2023/2023_merged_data.csv")
c = pd.read_csv("../CT-2021/2021_merged_data.csv")

df = pd.concat([a, b, c], ignore_index=True)

In [29]:
test = df.isna().sum()
for col, count in test.items():
    if count != 0:
        print(col, count)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52862 entries, 0 to 52861
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   year                            52862 non-null  int64
 1   agency_id                       52862 non-null  float64
 2   incident_date                   52862 non-null  object
 3   incident_hour                   52862 non-null  int64
 4   agency_name                     52862 non-null  object
 5   population                      52862 non-null  int64
 6   male_officer                    52862 non-null  float64
 7   male_civilian                   52862 non-null  float64
 8   male_officer+male_civilian      52862 non-null  float64
 9   female_officer                  52862 non-null  float64
 10  female_civilian                 52862 non-null  float64
 11  female_officer+female_civilian  52862 non-null  float64
 12  offense_name                    52862 non-null  object
 13  offense_category_name           52862 non-null  object
 14  criminal_act_name               52862 non-null  object
 15  location_area                   52862 non-null  object
dtypes: float64(7), int64(3), object(6)
memory usage: 6.5+ MB

In [31]:
df = df.drop(columns=[
    'male_officer', 'male_civilian',
    'male_officer+male_civilian', 'female_officer', 'female_civilian',
    'female_officer+female_civilian', 'agency_id'
])
df = df[(df['population'] != 0) & (~df['population'].isna())]

df.rename(columns={'agency_name': 'city'}, inplace=True)
df.rename(columns={'incident_date': 'date'}, inplace=True)
df.rename(columns={'incident_hour': 'hour'}, inplace=True)
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [32]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['dayofweek'] = df['date'].dt.dayofweek  # optional: 0 = Monday, 6 = Sunday

In [ ]:
order = [
    'year', 'month', 'day', 'hour', 'date', 'dayofweek',
    'city', 'population', 'offense_name', 'offense_category_name', 'criminal_act_name', 'location_area'
]

df = df[order]

In [34]:
df.to_csv("combined_data.csv", index=False)

In [35]:
print(len(df))

52712

In [36]:
df

,year,month,day,hour,date,dayofweek,city,population,offense_category_name,location_area
0,2022,9,22,13,2022-09-22,3,Berlin,20109,Drug/Narcotic Offenses,Abandoned/Condemned Structure
1,2022,6,4,20,2022-06-04,5,Norwich,40096,Weapon Law Violations,Abandoned/Condemned Structure
2,2022,7,10,20,2022-07-10,6,Norwich,40096,Drug/Narcotic Offenses,Abandoned/Condemned Structure
3,2022,7,10,20,2022-07-10,6,Norwich,40096,Drug/Narcotic Offenses,Abandoned/Condemned Structure
4,2022,10,14,13,2022-10-14,4,Bridgeport,148395,Drug/Narcotic Offenses,Abandoned/Condemned Structure
...,...,...,...,...,...,...,...,...,...,...
52857,2021,12,23,16,2021-12-23,3,Southington,43897,Animal Cruelty,Other/Unknown
52858,2021,7,25,14,2021-07-25,6,Waterbury,106480,Animal Cruelty,Other/Unknown
52859,2021,9,10,16,2021-09-10,4,Bloomfield,21254,Animal Cruelty,Other/Unknown
52860,2021,6,4,10,2021-06-04,4,Norwich,38431,Animal Cruelty,Other/Unknown
52861,2021,3,15,12,2021-03-15,0,Connecticut State Police,543228,Animal Cruelty,Other/Unknown